- name: Configure Ubuntu VM with Flask app and Nginx
  hosts: all
  become: true
  tasks:
    - name: Install dependencies
      apt:
        update_cache: yes
        name:
          - python3
          - python3-pip
          - git
          - nginx
        state: present
    
    - name: Install flask
      pip:
        name: flask
        executable: pip3

    - name: Create flask app directory
      file:
        path: /opt/app
        state: directory

    - name: Copy flask app
      copy:
        src: "{{ playbook_dir }}/../app/"
        dest: /opt/app/

    - name: Create systemd service for Flask app
      copy:
        src: templates/app.service.j2
        dest: /etc/systemd/system/app.service
        owner: root
        group: root
        mode: '0644'

    - name: Enable and start Flask service
      systemd:
        name: app.service
        enabled: yes
        state: started
        daemon_reload: yes
    
    - name: Configure Nginx
      copy:
        src: templates/nginx_app.conf.j2
        dest: /etc/nginx/sites-available/app

    - name: Enable Nginx site
      file:
        src: /etc/nginx/sites-available/app
        dest: /etc/nginx/sites-enabled/app
        state: link
        force: yes

    - name: Remove default Nginx site
      file:
        path: /etc/nginx/sites-enabled/default
        state: absent

    - name: Restart Nginx
      service:
        name: nginx
        state: restarted
